!!!
%html{:lang => "es"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Orden Venta
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :rel => "stylesheet"}/
  %body
    %form
      %fieldset
        %legend Orden Venta
        %label Ingrese su NIT :
        %input{:name => "username", :placeholder => "", :required => "", :type => "text"}/
        %label Ingrese su Nombre :
        %input{:name => "username", :placeholder => "", :required => "", :type => "text"}/
    .container
      .row
        .col
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Descripción del Producto
                %th Cantidad
                %th Precio Unitario
            %tbody
              %tr
                %td _
                %td _
                %td _
        %p
        %input{:type => "checkbox"} Cobrar
      %script{:src => "https://code.jquery.com/jquery-3.4.1.slim.min.js"}
      %script{:src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
      %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}