<table class="responsive-table">
  <thead>
    <tr>
        <th>Nit</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @clientes.get_nit %></td>
      <td><%= @clientes.get_nombre %></td>
      <td><%= @clientes.get_apellidos %></td>
      <td><%= @clientes.get_telefono %></td>
    </tr>
  </tbody>
</table>