<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center light-blue-text">Nuevo Cliente</h2>
    <br><br>
    <div class="row">
      <form class="col s12" action="/clientes" method="post">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input name="nombre" type="text" placeholder="Nombre Cliente" class="validate">
            <label for="nombre">Nombre Cliente</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input name="apellidos" type="text" placeholder="Apellidos Cliente" class="validate">
            <label for="apellidos">Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">contacts</i>
            <input name="direccion" type="text" placeholder="Dirección" class="validate">
            <label for="direccion">Dirección</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">contact_phone</i>
            <input name="telefono" type="text" placeholder="Telefono" class="validate">
            <label for="telefono">Telefono</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">confirmation_number</i>
            <input name="nit" type="text" placeholder="Nit" class="validate">
            <label for="nit">Nit</label>
          </div>
        </div>
        <input type="submit" value="Agregar Cliente">
      </form>
    </div>
  </div>
</div>
<div class="container"></div>