<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <br><br>
      <h1 class="header center light-blue-text">Productos</h1>
      <br><br>
      <div class="row">
        <form class="col s6" action="/producto" method="get">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">confirmation_number</i>
            <input name="nombre_producto" type="text" placeholder="Nombre Producto" class="validate">
            <label for="nombre_producto">Nombre Producto</label>
            </div>
          </div>
          <input type="submit" value="Buscar Producto">
        </form>        
        <form class="col s6" action="/productos/nuevo" method="get">
          <div class="row">
            <div class="input-field col s6">
              <input disabled name="id" type="text" class="validate">              
            </div>
          </div>
          <input type="submit" value="Agregar Producto">
        </form>
      </div>
      <%= yield %>
    </div>
  </div>
</div>