<table class="responsive-table">
  <thead>
    <tr>        
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @proveedores.get_nombre %></td>
      <td><%= @proveedores.get_direccion %></td>
      <td><%= @proveedores.get_telefono %></td>
      <td><%= @proveedores.get_correo %></td>
    </tr>
  </tbody>
</table>